body{
    background-color: #53a5ce;
    text-align: center;
}

h1 {
    background-color: #A9CCE3; /* Cor de fundo do cabeçalho */
    padding: 5px; /* Espaçamento interno do cabeçalho */
    display: flex; /* */
    align-items: center;
}